@model Wallet.Models.Movimentacao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Movimentação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carteira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carteira.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    <a class="btn btn-info" asp-action="TelaIni"
       asp-route-id="@ViewData["Id"]"
       asp-route-nome="@ViewData["Nome"]"
       >Voltar a carteira</a>
</div>
