@model IEnumerable<Wallet.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-primary">@ViewData["Nome"]</h2>

<div class="container p-3">
    <div class="row" pt-4>
        <h2 class="text-secondary">R$ @ViewData["Valor"] </h2>
        <div class="col-12 text-right">
            <a class="btn btn-info" asp-controller="movimentacoes" asp-action="Create" 
               asp-route-id="@ViewData["Id"]"
               asp-route-nome="@ViewData["Nome"]"
               >Adicionar movimentação</a>
        </div>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descrip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carteira)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carteira.Nome)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"
                           asp-route-id2="@ViewData["Id"]"
                           asp-route-nome="@ViewData["Nome"]"
                           >Editar</a> 
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"
                           asp-route-id2="@ViewData["Id"]"
                           asp-route-nome="@ViewData["Nome"]"
                           >Detalhes</a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"
                           asp-route-id2="@ViewData["Id"]"
                           asp-route-nome="@ViewData["Nome"]"
                           >Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
