
@model IEnumerable<bancknet.Models.Mywallet>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Minha Carteira</h2>
            <pc class="text-secondary">Bem vindo @ViewData["Nome"]</pc>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Wallet" asp-action="Creat" class="btn btn-primary">
                Adicionar Movimentação
            </a>
        </div>
    </div>

    <br /><br />
    <div class="row pt-2">
        <div class="col-6">
            <h3>Valor em Carteira : @ViewData["Valor"]</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Wallet" asp-action="Index" class="btn btn-primary">
                Todas
            </a>
            <a asp-controller="Wallet" asp-action="Withdraw" class="btn btn-primary">
                Saque
            </a>
            <a asp-controller="Wallet" asp-action="Deposit" class="btn btn-primary">
                Deposito
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col"> Data </th>
                    <th scope="col"> Descrição </th>
                    <th scope="col" class="text-center"> Valor </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.Date</td>
                    <td>@obj.Describ</td>
                    @if (obj.Value < 0)
                    {
                        <td align="center" class="text-danger">@Math.Abs(obj.Value)</td>
                    }
                    else
                    {
                        <td align="center" class="text-success">@Math.Abs(obj.Value)</td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            Não existem movimentações cadastradas
        </p>
    }

</div>





